*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body {
    background: linear-gradient(to right, #041308, #0b3317);
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
     justify-content: space-evenly;
     align-items: center;
    gap: 20px;

}
#profile{
   flex-basis: 25%;
}
#profile h1{ 
    color: white;
    text-align: center;
    }
    #profile p{
         color: white;
         margin-top: 10px;
         text-align: center;
    }

#grid{
    flex-basis: 50%;
    display: grid;
    gap:8px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows:120px;
}
.a{
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.a:hover{
background-color: #999;
background-position: center;
box-shadow: 0 0 4px #fff;
}

.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}

@media screen and (max-width: 1024px) {
    #main {
        flex-direction: column;
        padding-block:20px ;
    }
    #grid {
        width: 100%;
        padding-inline: 12px;
        grid-auto-rows:220px ;
    }
    .a{
        grid-row: span 1;
        grid-column: span 3;
    }
}
